name: Build and Test Code
on: workflow_dispatch
env:
    AWS_REGION: us-east-2
    ECR_REPOSITORY: gitopsapp
    EKS_CLUSTER: gitops-eks

jobs:
    Testing:
        runs-on: ubuntu-latest
        steps:
            - name: Code checkout
              uses: actions/checkout@v4

            - name: Maven test
              run: mvn test

            - name: Checkstyle
              run: mvn checkstyle:checkstyle
